*/config/development
*/logs/*
!*/logs/index.html
*/cache/*
!system/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess

# Laragon
bin/heidisql/tabs.ini
bin/heidisql/Backups/*

bin/laragon/laragon.log

bin/sendmail/output/*

bin/notepad++/config.xml
bin/notepad++/langs.xml
bin/notepad++/session.xml
bin/notepad++/stylers.xml
bin/notepad++/plugins/Config/converter.ini

data

logs

etc/apache2/sites-enabled
etc/nginx/*
!etc/nginx/alias
!etc/nginx/php_upstream.conf

tmp

usr/tpl